name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }} / Bundler ${{ matrix.bundler }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - ruby: "3.2"
            bundler: "2.4"
          - ruby: "3.2"
            bundler: "2.5"
          - ruby: "3.3"
            bundler: "default"
          - ruby: "3.4"
            bundler: "default"
          - ruby: "4.0"
            bundler: "4.0.4"

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: ${{ matrix.bundler }}
          bundler-cache: true
      - name: Run the default task
        run: bundle exec rake
